$max-width: 940px;

@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";

.crmagicform {
    @include outer-container;

    .sr-only {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .form-row {
        @include row;
    }

    .half {
        @include span-columns(12);

        @media (min-width: 940px) {
            @include span-columns(6);
        }
    }

    .submit {
        @include row;
        
        input {
            @include span-columns(12);
            @media (min-width: 940px) {
                @include span-columns(3);
                @include shift(1);
            }

            border-color: #FFFFFF;
            border-width: 0px;
            border-radius: 6px;
            background: #5551dd;
            font-size: 18px;
            color: #FFFFFF;
            font-weight: bold;

            &:hover {
                background: #6864dc;
            }

            &:active {
                background: #5551dd;
            }
        }
    }

    input, select {
        width: 100%;
        height: 50px;
    }

    textarea {
        width: 100%;
        height: 100px;
        padding: 6px 4px;
    }

    label {
        font-size: 14px;
    }
    
}

